<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.haha %></title>
</head>
<body>
    <% for (var prop in htmlWebpackPlugin.options.files.js) {%>
        <script src="<%= prop %>"></script>
    <% } %>


    <p>hello</p>
    <% for (var prop in htmlWebpackPlugin.options) {%>
        <%= prop %> : <%= JSON.stringify(htmlWebpackPlugin.options[prop]) %>
        <br>
    <% } %>
        <div>-----</div>
    <% for (var prop in htmlWebpackPlugin.files) {%>
        <%= prop %> : <%= JSON.stringify(htmlWebpackPlugin.files[prop]) %>
        <br>
    <% } %>
</body>
</html>

<!-- template : "/Users/xinwei.liu/Documents/other/webpack-demo/node_modules/html-webpack-plugin/lib/loader.js!/Users/xinwei.liu/Documents/other/webpack-demo/index.ejs"
templateContent : false
templateParameters :
filename : "index.html"
hash : false
inject : true
scriptLoading : "blocking"
compile : true
favicon : false
minify : "auto"
cache : true
showErrors : true
chunks : "all"
excludeChunks : []
chunksSortMode : "auto"
meta : {}
base : false
title : "html-webpack-plugin"
xhtml : false
haha : "haha"
-----
publicPath : ""
js : ["index.066325.js","demo.066325.js"]
css : ["index.css"]
manifest :
favicon : -->